img{
height: 30%;
width: 30%;
}

table{
    margin-top: 25px;
    border-collapse: collapse;
}

td{
    border: 1px solid black;
    padding: 8px;
}

table tr:nth-child(2n+1) {
    background-color: aqua;
}

