body{
    font-family: 'Times New Roman', Times, serif
}

img{
height: 30%;
width: 30%;
}

table{
    margin-top: 25px;
    border-collapse: collapse;
    text-align: center;
    
}

td{
    border: 1px solid black;
    padding: 8px;
}

th{
    border: 1px solid black;
}

table tr:nth-child(2n+1) {
    background-color: aqua;
}

